<h1>Results of Test {{testNumber}} with Version {{version}}</h1>

<p>{{error}}</p>

<table>
    <thead>
        <tr>
            <th>Total correctness</th>
            <th>Correctness of Location in percent</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{total}}</td>
            <td>{{location}}</td>
        </tr>
    </tbody>
</table>